 
<div class="ui inverted center aligned segment"> 
  <div class="ui text container"> 
    <h2>Checkout</h2> 
    <p> 
      <b>Price: $10</b> 
    </p> 
    <p> 
      <b>Quantity: </b> 
      <input type="number" name="quantity" value="1" min="1" max="10"> 
    </p> 
    <p> 
      <b>Total: $10</b> 
    </p> 
    <p> 
      <b>Card Number: </b> 
      <input type="text" name="card_number" value=""> 
    </p> 
    <p>
      <b>Expiry Date: </b> 
      <input type="text" name="expiry_date" value=""> 
    </p> 
    <p> 
      <b>CVV: </b> 
      <input type="text" name="cvv" value=""> 
    </p> 
    <p> 
      <b>Billing Zip Code: </b> 
      <input type="text" name="billing_zip_code" value=""> 
    </p> 
    <p> 
      <b>Card Holder Name: </b> 
      <input type="text" name="card_holder_name" value=""> 
    </p> 
    <p> 
      <b>Card Holder Email: </b> 
      <input type="text" name="card_holder_email" value=""> 
    </p>
