<div class="ui secondary  menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Buy Now
  </a>
</div>


<h1> Hey </h1>




<h2> Dev tools </h2>

Sign up for the email letter:<br>
<%= form_for(Customer.new) do |f| %>
  <%= f.email_field :email_address, placeholder: 'Enter your email' %>
  <%= f.submit 'Submit' %>
<% end %>
<br>
Go to our buy page:<br>
<a href="/buy">Link</a>
<br>
Go to our contact or about pages:<br>
<a href="/contact">
<br>
