

<div class="ui inverted nav">
  <div class="ui inverted menu">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Buy Now
    </a>
  </div>
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        <div class="content">
          LEARN TO CODE.
        </div>
      </h1>
      <h2> I'll show you how! </h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
  </div>
</div>


<div class="ui inverted center aligned segment">
  <div class="ui container">
    <div class="content">
      How can I get started as a developer? 
      How can I earn the salary I'm worth?
      Is it hard?
      Is there math involved?
      Am I too old to learn?
    </div>
  </div>
</div>

<div class="ui inverted center aligned segment">
  <div class="ui text container">
    <p>The answer?<br>
    <b>LEARN TO CODE.</b></p>

    <p>It's not as hard as you think!</p>
  </div>
</div>






<div class="ui inverted segment">
  <div class="content wdevborder">
    <div>
      <h2> Dev tools </h2>
      <p>Sign up for the email letter:</p>
      <%= form_for(Customer.new) do |f| %>
        <div>
          <%= f.email_field :email_address, class: 'ui transparent input', placeholder: 'Email' %>
          <%= f.submit 'Submit', class: 'ui secondary button' %>
        </div>
      <% end %>
    </div>
      
    <div>
      <p>Go to our buy page:</p>
      <div>
        <a href="/buy">Link</a>
      </div>
      <div>
        <p>Go to our contact or about pages:</p>
        <div>
          <a href="/contact">Link</a>
        </div>
      </div>
      <div>
        <p>Go to our register page:</p>
      </div>
      <div>
        <a href="/users/sign_up">Link</a>
      </div>
        <p>Go to our log in page:</p>
      <div>
        <a href="/users/sign_in">Link</a>
      </div>
    </div>
  </div>
</div>

