$font-url: 'https: //fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;800;900&display=swap';

@import 'semantic-ui';

body {
  margin: 0px;
  background-color: #1B1C1D;
}

.nav {
  margin: 0px; 
  padding: 0px;
  color: red;
}