@import 'semantic-ui';

body {
  margin: 0px;
  background-color: #1B1C1D;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.nav {
  margin: 0px; 
  padding: 0px;
  color: red;
}

.wdevborder {
  width: 50%;
  padding: 2px;
  border: 1px solid white;
}

.notice {
  background-color: grey;
  color: black;
}

.whitesegment {
  background-color: white;
  color: black;
}

.bigger {
  font-size: 1.3em !important;
}