@import 'semantic-ui';

/* Base font size for mobile */
html {
  font-size: 20px;
}

/* Increase font size for larger screens */
@media (min-width: 768px) {
  html {
    font-size: 30px;
  }
}

body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #1B1C1D;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.nomarg {
  margin: 0px !important;
}

.nomargbottom {
  margin-bottom: 0px !important;
}
.lessmaxwidth {
  max-width: 1000px;
}

.bullet-point {
  position: relative;
  padding-left: 20px;
}

.bullet-point::before {
  content: "•";
  position: absolute;
  left: 0;
  font-size: 20px;
}
.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.bullet {
  font-size: 20px;
  width: 30px;
}

.paddingbottom {
  padding-bottom: 150px !important;
}

.nav {
  margin: 0px; 
  padding: 0px;
  color: red;
}

.wdevborder {
  width: 50%;
  padding: 2px;
  border: 1px solid white;
}

.notice {
  background-color: grey;
  color: black;
}

.whitesegment {
  background-color: white;
  color: black;
}

.bigger {
  font-size: 1.3em !important;
}